<div class="p-3">
  <h5>メニュー</h5>
  <div class="nav flex-column">
    <% if logged_in? %>
      <li class="nav-item mt-1">
        <%= link_to 'home', step_records_path, class: 'nav-link border' %>
      </li>
      <li class="nav-item mt-1">
        <%= link_to 'edit', new_step_record_path, class: 'nav-link bg-primary-subtle' %>
      </li>
      <hr>
      <li class="nav-item mt-1">
        <%= link_to 'page2', page2_path, class: 'nav-link border rounded' %>
      </li>
      <hr>
      <li class="nav-item mt-1">
        <%= link_to 'config', config_path, class: 'nav-link border rounded-3 bg-primary-subtle' %>
      </li>

      <span class="border-end border-bottom border-primary mt-2"></span>
      <div class="user mt-1">
        <%= current_user.email %>
      </div>
      <div class="logout mt-1">
        <%= button_to 'logout', logout_path, method: :delete, class: 'btn btn-dark' %>
      </div>
    <% else %>
      <li class="nav-item mt-1">
        <%= link_to 'Login', login_path, class: 'nav-link' %>
      </li>
    <% end %>
  </div>
</div>